.body-section{
    // margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .godhan-title{
        font-family: "Merriweather-Bold-Italic";
        font-style: normal;
        font-weight: normal;
        font-size: 50px !important;
        line-height: 57px;
        letter-spacing: 0.01em;
    }
    .godhan-sub-title{
        font-family: "Merriweather-Italic";
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        letter-spacing: 0.01em;
    }
}

.auth-banner{
    width: 100%;
    height: 148px;
    object-fit: cover;
}

.MuiTextField-root {
    border-radius: 10px;
    .MuiOutlinedInput-root{
        height: 46px;
        .MuiOutlinedInput-notchedOutline{
            border: #224214 2px solid;
        }
    }
}

button{
    span{
        text-transform: capitalize;
    }
}
hr{
    background: rgba(52, 70, 84, 0.7) !important;
}
.justify-content{
    display: flex;
    justify-content: center;
}
.justify-flex-end{
    display: flex;
    justify-content: flex-end;
}
.margin-left-right-auto{
    margin-left: auto;
    margin-right: auto;
}
.contact-label{
    .MuiTypography-root{
        font-family: "Merriweather-Regular";
        font-weight: bold;
        font-size: 18px;
    }
}